<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../particles/link') %>
    <title>Upload Feedback</title>
</head>
    <body>
        <h1 style=>File Uploaded Succesfully</h1>
        
    <a class="btn btn-info" href="/" style="margin-right: 10px;">Home</button>        
    <a class="btn btn-info" href="/delete" style="margin-right: 10px;">Delete</button>
    <a class="btn btn-info" href="/show" style="margin-right: 10px;">View</button>
    <a class="btn btn-info" href="/update" style="margin-right: 10px;">Update</button>
    <a class="btn btn-info" href="/upload" style="margin-right: 10px;">Upload</button>

    <%- include('../particles/script') %>
</body>
</html>